
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home page</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body style="background-image: url('/img/homepage.jpg'); background-size: cover; background-repeat: no-repeat;">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0077ff !important;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white">XYZ Hospital</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/join/login" style="color: white">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/join/register" style="color: white">new here?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/join/adminLogin" style="color: white">Admin Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
      
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 class="h1">Good health is not something we can buy...</h1>
              <span><strong>XYZ Hospital</strong> i Always caring about your health, we are here to help you!</span>
              
              <div class="btn-element">
                <button type="button" class="btn btn-primary btn-lg" onclick="Redirect1()">Patient login here</button>
                <button type="button" class="btn btn-danger btn-lg"  onclick="Redirect2()">Hospital login here</button>
              </div>
          </div>
        </div>
      </div>
  
    <script>
        function Redirect1() {
          window.location = "/join/login";
        }
        function Redirect2() {
          window.location = "/join/adminLogin";
        }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>